.feature-add-top {
    display: inline-block;
    background-color:rgb(255, 38, 4);
    color: #ffffff;
    font-size: 18px;
    padding: 5px 38px;
    position: absolute;
    top: -20px;
    left: 36px;
    border: 2px solid #ff0404;
    font-weight: bold;
    border-radius: 10px;
}

.feature-area {
    position: relative;
    padding: 18px 0;
    border: 1px solid #ff0404;
    border-radius: 8px;
}

a.text-hover-dark:hover {
  color: red;
}

@media (max-width: 767px) {
    .img-thumbnail {
      width: 35px;
    }
  }
  